# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
.env

# =========================
# Node / React
# =========================
node_modules/
dist/
build/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Operating System
# =========================
Thumbs.db
.DS_Store

# =========================
# Logs
# =========================
*.log

# =========================
# Docker
# =========================
docker-data/

# =========================
# Tests
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Temporary files
# =========================
*.tmp
*.temp
